<!DOCTYPE html>
<html>
<head>
  <title>Pokemon</title>
</head>
<body>
  <style type="text/css">body{
  background-color:steelblue;
  color:blanchedalmond;</style>

  
  <h1>This is a list of our pokemon</h1>

</body>
</html>