<!DOCTYPE html>
<html>
<head>
  <title>Pokemon</title>
</head>
<body>
  <style type="text/css">body{
  background-color:steelblue;
  color:blanchedalmond;</style>

  <ul class="pokemon">
    <% for(let i=0;i < pokemon.length;i++){ %>
      <li>
        <%= pokemon[i].name %>
        <a href="<%= pokemon[i].img%>"><%= pokemon[i].name %></a>
      <% } %>
      </li>
  </ul>
  <h1>This is a list of our pokemon</h1>

</body>
</html>