<!DOCTYPE html>
<html>
<head>
  <title>Show page</title>
</head>
<body>
  <h1>Pokemon Show page </h1>
  <h2>Note to self problems I had: didnt have the = infront of i in index link and didnt have req.params.id in server</h2>
  <p><%= pokemon.name; %></p>
  <img src="<%= pokemon.img%>">
</body>
</html>