<!doctype html>
<html>
<head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Joti+One" rel="stylesheet">

    <style type="text/css">
        body {
            color: blanchedalmond;
            background-color: steelblue;
            font-family: 'Joti One', cursive;
        }
    </style>
</head>
<body>
    <h1>See All The Pokemon!</h1>

</body>
</html>