<!DOCTYPE html>
<html>
<head>
	<title>Pokemon Index File</title>
	<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded" rel="stylesheet">

</head>
<style type="text/css">
	body{
		color: blanchedalmond;
		background-color: steelblue;
		font-family: 'Encode Sans Expanded', sans-serif;
	}	
</style>
<body>
	<h1>See All Pokemon</h1>

	<ul>
		<% for(let i = 0; i< pokemon.length; i++) { %>
			<li><a href="./<%= i %>" > <%=pokemon[i].name  %> </a>
			</li>
		<%  } %>
	</ul>


</body>
</html>