<!DOCTYPE html>
<html>
<head>
	<title>POKEMON INDEX</title>
</head>
<body>

	<h1>Pokemon</h1> <ul>
	<% for (let i = 0; i < thePokemon.length; i++) {%>
		<li>
			<a href="/pokemon/<%= i %>"> <%=thePokemon[i].name%> </a>
		</li>
	<%}%>
	</ul>
</body>
</html>