<!doctype html>
<html>
<head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Joti+One" rel="stylesheet">

    <style type="text/css">
        body {
            color: blanchedalmond;
            background-color: steelblue;
            font-family: 'Joti One', cursive;
        }
    </style>
</head>
<body>
    <h1>See All The Pokemon!</h1>

    <ul class=pokemon>
        <% for(let i=0; i < pokemon.length; i++){ %>
        <li>
            <a href="/pokemon/ <%= i %> <%=pokemon[i].name %>"></a>
             <%=pokemon[i].name %> <%=pokemon[i].color %>

        </li>
        <% } %>%>
    </ul>

</body>
</html>