<!DOCTYPE html>
<html>
<head>
	<title>SHOW PAGE</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

	<h1>Gotta Catch 'Em All</h1>
		<a href="/pokemon">Back</a>
		<h2> <%=pokemon.name%> </h2>
		<img src="<%=pokemon.img%>">

</body>
</html>