body {
  color: #f5d36c;
  background-color: #6881da;
}
h1 {
  font-family: 'Chango', cursive;
  display: flex;
  justify-content: center;
}
h2 {
  font-family: 'Do Hyeon', sans-serif;
  display: flex;
  justify-content: center;
}
ul,
a {
  color: #f5d36c;
  font-size: 1.5em;
  font-family: 'VT323', monospace;
  text-decoration: none;
}
ul:hover,
a:hover {
  color: #61acb4;
}
img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 284px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
}
