<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> See all the Pokemon! </h1>
      <style type="text/css">
        body {
          color: rgb(250, 243, 209);
          background-color: rgb(157, 169, 210);
          
        }
  </style>

  </body>
</html>
