<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <style type="text/css">
        body {
          color: rgb(250, 243, 209);
          background-color: rgb(157, 169, 210);
        }
  </style>

  <h1> Gotta Catch Em' All!</h1>
    <h2><%=pokemon.name %></h2>
    <img src="<%=pokemon.img %>">
    <br />

  <a href="/pokemon">Back</a>

  </body>
</html>
