body {
  background-color: blue;
  color: yellow;
  box-sizing: border-box;
}
* {
  font-family: 'Do Hyeon', sans-serif;
  text-align: center;
}
a {
  color: yellow;
  font-size: 24px;
}
ul {
  list-style-type: none;
}
h2 {
  color: red;
}
p a {
  color: white;
}
