@background-color: teal;
@color: white;
@font-family: 'Encode Sans Expanded', sans-serif;
@link-color: white;


body{
	width: 95vw;
	margin: 0 auto;
	background-color: @background-color;
	color: @color;
	font-family: @font-family;
	text-align: center;
}
a{
	color: @link-color
}
ul {
	list-style-type: none;
}

